#board td
{
    border: solid 10px #666;
    height: 100px;
    width: 100px;
}

#column-top td
{
    border: dashed 10px lightgray;
}

#column-top td:hover
{
    background-color: gold;
}

.piece
{
    border-radius: 50%;
    display: inline-block;
    height: 80%;
    width: 80%;
}

.player1
{
    background-color: red;
}

.player2
{
    background-color: blue;
}